<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.pchab.cordova.plugin.downloader"
        version="0.1.0">

  <name>Downloader</name>

  <description>Cordova plugin for downloading feature in jamendo music app</description>

  <repo>https://github.com/pchab/cordova-plugin-downloader.git</repo>

  <keywords>music, download, mobile</keywords>

  <license>Apache 2.0 License</license>

  <author>Pierre Chabardes</author>

  <!-- cordova -->
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <!-- js -->
  <js-module src="www/Downloader.js" name="Downloader">
    <clobbers target="plugins.Downloader" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <!-- <source-file
      src="src/android/libs/support-v4-19.0.0.jar" target-dir="libs/" /> -->
    <source-file
        src="src/android/com/pchab/android/plugin/Downloader.java"
        target-dir="src/com/pchab/android/plugin" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Downloader">
        <param name="android-package" value="com.pchab.android.plugin.Downloader" />
      </feature>
    </config-file>

  </platform>

</plugin>
